# LCMXO2-7000HC-4TG144C -- v2 (compact native-SD board) pin LOCATEs.
# GEOMETRY-ASSIGNED to board-v2/ipod-sd-udma.kicad_pcb by assign_pins.py:
# I/O pins paired in-order to the connector fanout (v1 method). Supply map
# cross-validated (Diamond PAD + spreadsheet + DS Table 4.6): 12 GND, 4 VCC,
# 12 VCCIO, pin 129 NC. Port names match rtl/fpga_top_sd.v.

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

FREQUENCY NET "clk" 66.500000 MHz;

SYSCONFIG JTAG_PORT=ENABLE MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE I2C_PORT=DISABLE;

IOBUF ALLPORTS IO_TYPE=LVCMOS33;

# ---- pin LOCATEs (geometry-assigned) ----------------------------------------
LOCATE COMP "HS_A0"  SITE "40";
LOCATE COMP "HS_A1"  SITE "42";
LOCATE COMP "HS_A2"  SITE "41";
LOCATE COMP "HS_CS0_N"  SITE "38";
LOCATE COMP "HS_CS1_N"  SITE "39";
LOCATE COMP "HS_DD[0]"  SITE "50";
LOCATE COMP "HS_DD[10]"  SITE "63";
LOCATE COMP "HS_DD[11]"  SITE "61";
LOCATE COMP "HS_DD[12]"  SITE "59";
LOCATE COMP "HS_DD[13]"  SITE "57";
LOCATE COMP "HS_DD[14]"  SITE "55";
LOCATE COMP "HS_DD[15]"  SITE "52";
LOCATE COMP "HS_DD[1]"  SITE "54";
LOCATE COMP "HS_DD[2]"  SITE "56";
LOCATE COMP "HS_DD[3]"  SITE "58";
LOCATE COMP "HS_DD[4]"  SITE "60";
LOCATE COMP "HS_DD[5]"  SITE "62";
LOCATE COMP "HS_DD[6]"  SITE "65";
LOCATE COMP "HS_DD[7]"  SITE "68";
LOCATE COMP "HS_DD[8]"  SITE "69";
LOCATE COMP "HS_DD[9]"  SITE "67";
LOCATE COMP "HS_DMACK_N"  SITE "44";
LOCATE COMP "HS_DMARQ"  SITE "49";
LOCATE COMP "HS_INTRQ"  SITE "43";
LOCATE COMP "HS_IORDY"  SITE "45";
LOCATE COMP "HS_IOR_N"  SITE "47";
LOCATE COMP "HS_IOW_N"  SITE "48";
LOCATE COMP "HS_RESET_N"  SITE "70";
LOCATE COMP "SD_CD_N"  SITE "143";
LOCATE COMP "SD_CLK"  SITE "140";
LOCATE COMP "SD_CMD"  SITE "139";
LOCATE COMP "SD_DAT[0]"  SITE "141";
LOCATE COMP "SD_DAT[1]"  SITE "142";
LOCATE COMP "SD_DAT[2]"  SITE "133";
LOCATE COMP "SD_DAT[3]"  SITE "138";
LOCATE COMP "UART_RX"  SITE "25";
LOCATE COMP "UART_TX"  SITE "28";

# ---- pulls / drive ----------------------------------------------------------
IOBUF PORT "HS_IOR_N"   PULLMODE=UP;
IOBUF PORT "HS_IOW_N"   PULLMODE=UP;
IOBUF PORT "HS_DMACK_N" PULLMODE=UP;
IOBUF PORT "HS_CS0_N"   PULLMODE=UP;
IOBUF PORT "HS_CS1_N"   PULLMODE=UP;
IOBUF PORT "HS_RESET_N" PULLMODE=UP;
IOBUF PORT "UART_RX"    PULLMODE=UP;
IOBUF PORT "SD_CMD"     PULLMODE=UP;
IOBUF GROUP "SD_DAT*"   PULLMODE=UP;
IOBUF PORT "SD_CD_N"    PULLMODE=UP;

IOBUF PORT "HS_IORDY"   DRIVE=8 SLEWRATE=FAST;
IOBUF PORT "HS_DMARQ"   DRIVE=8 SLEWRATE=FAST;
IOBUF GROUP "HS_DD*"    DRIVE=8 SLEWRATE=FAST;
IOBUF PORT "SD_CLK"     DRIVE=8 SLEWRATE=FAST;
IOBUF PORT "SD_CMD"     DRIVE=8 SLEWRATE=FAST;
IOBUF GROUP "SD_DAT*"   DRIVE=8 SLEWRATE=FAST;
